@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

body header h1,
body header h2,
body header h3,
body header h4,
body header h5,
body header h6 {
  padding: 2rem;
  margin-left: 1rem;
  font-weight: 300;
  color: #111;
}
body header p,
body header span,
body header div,
body header ul {
  color: #222;
}
body main {
  max-width: 700px;
  margin: auto;
}
body main ul {
  list-style: none;
}
body main ul .list-item {
  padding: 0.5rem;
}